.menu-items {
    display: flex;
    list-style: none;
    padding: 0;
}

.item {
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 2;
}

.item:hover {
    color: var(--color-primary);
}
